body {
    background-color: #ddd;
    color: #222;
    font-family: Helvetica;
    font-size: 14px;
    margin: 0;
    padding: 0;
}
#header {
    background-color: #ccc;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#999));
    border-color: #666;
    border-style: solid;
    border-width: 0 0 1px 0;
    color: #222;
    font-weight: bold;
    text-align: center;
    text-overflow: ellipsis;
    text-shadow: 0px 1px 0px #fff;
}
#header h1 {
    font-size: 18px;
    margin: 0 auto;
    max-width: 230px;
    overflow: hidden;
    padding: 10px 0;
    white-space: nowrap;
}
#header div.leftButton {
    -webkit-border-image: url(images/back_button.png) 0 8 0 14;
    border-width: 0 8px 0 14px;
    color: white;
    font-size: 22px;
    left: 6px;
    line-height: 28px;
    max-width: 50px;
    overflow: hidden;
    position: absolute;
    text-shadow: rgba(0,0,0,0.6) 0px -1px 0px;
    top: 7px;
    white-space: nowrap;
}
ul {
    list-style: none;
    margin: 10px;
    padding: 0;
}
ul li a {
    background-color: #FFF;
    border: 1px solid #999;
    color: #222;
    display: block;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: -1px;
    padding: 12px 10px;
    text-decoration: none;
}
ul li:first-child a {
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
}
ul li:last-child a {
    -webkit-border-bottom-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
}
ul li a:active,ul li a:hover {
    background-color:blue;
    color:white;
}
#content {
    text-shadow: 0px 1px 0px #fff;
}
#question {
    font-size: 14px;
    margin: 0 auto;
    max-width: 230px;
    padding: 10px 0;
}

/* spinner from http://37signals.com/svn/posts/2577-loading-spinner-animation-using-css-and-webkit */

div.spinner {
    position: relative;
    width: 54px;
    height: 54px;
    display: inline-block;
}

div.spinner div {
    width: 12%;
    height: 26%;
    background: #000;
    position: absolute;
    left: 44.5%;
    top: 37%;
    opacity: 0;
    -webkit-animation: fade 1s linear infinite;
    -webkit-border-radius: 50px;
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.2);
}

div.spinner div.bar1 {-webkit-transform:rotate(0deg) translate(0, -142%); -webkit-animation-delay: 0s;}
div.spinner div.bar2 {-webkit-transform:rotate(30deg) translate(0, -142%); -webkit-animation-delay: -0.9167s;}
div.spinner div.bar3 {-webkit-transform:rotate(60deg) translate(0, -142%); -webkit-animation-delay: -0.833s;}
div.spinner div.bar4 {-webkit-transform:rotate(90deg) translate(0, -142%); -webkit-animation-delay: -0.75s;}
div.spinner div.bar5 {-webkit-transform:rotate(120deg) translate(0, -142%); -webkit-animation-delay: -0.667s;}
div.spinner div.bar6 {-webkit-transform:rotate(150deg) translate(0, -142%); -webkit-animation-delay: -0.5833s;}
div.spinner div.bar7 {-webkit-transform:rotate(180deg) translate(0, -142%); -webkit-animation-delay: -0.5s;}
div.spinner div.bar8 {-webkit-transform:rotate(210deg) translate(0, -142%); -webkit-animation-delay: -0.41667s;}
div.spinner div.bar9 {-webkit-transform:rotate(240deg) translate(0, -142%); -webkit-animation-delay: -0.333s;}
div.spinner div.bar10 {-webkit-transform:rotate(270deg) translate(0, -142%); -webkit-animation-delay: -0.25s;}
div.spinner div.bar11 {-webkit-transform:rotate(300deg) translate(0, -142%); -webkit-animation-delay: -0.1667s;}
div.spinner div.bar12 {-webkit-transform:rotate(330deg) translate(0, -142%); -webkit-animation-delay: -0.0833s;}

@-webkit-keyframes fade {
      from {opacity: 1;}
      to {opacity: 0.25;}
    }

div.scontainer {
    display: inline-block;
    padding: 1.5em 1.5em 1.25em;
    background: rgba(0,0,0,0.8);
    -webkit-box-shadow: 1px 1px 1px #fff;
    -webkit-border-radius: 1em;
    left: 119px;
    margin: 1em;
    position: absolute;
    top: 140px;
}

div.scontainer div.spinner {
    width: 28px;
    height: 28px;
}

div.scontainer div.spinner div {background: #fff;}
